<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Essential Studio for JavaScript : TreeGrid</title>
    <link href="css/ej.web.all.min.css" rel="stylesheet" />
    <script src="Scripts/jquery-1.11.3.min.js"></script>
    <script src="Scripts/jsrender.min.js"></script>
    <script src="Scripts/ej.web.all.min.js"></script>
</head>
<body style="overflow: scroll;">
    <div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area">
                <div id="GanttContainer" style="overflow: hidden; height: 1200px; width: 200%"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var projectData = [
            {
                taskID: 1,
                taskName: "Planning",
                startDate: new Date("02/03/2014"),
                endDate: new Date("02/07/2014"),
                progress: 100,
                duration: 5,
                subtasks: [
                    { taskID: 2, taskName: "Plan timeline", startDate: new Date("02/03/2014"), endDate: new Date("02/07/2014"), duration: 5, progress: 100 },
                    { taskID: 3, taskName: "Plan budget", startDate: new Date("02/03/2014"), endDate: new Date("02/07/2014"), duration: 5, progress: 100 },
                    { taskID: 4, taskName: "Allocate resources", startDate: new Date("02/03/2014"), endDate: new Date("02/07/2014"), duration: 5, progress: 100 },
                    { taskID: 5, taskName: "Planning complete", startDate: new Date("02/07/2014"), endDate: new Date("02/07/2014"), duration: 0, progress: 0 }
                ]
            },
            {
                taskID: 6,
                taskName: "Design",
                startDate: new Date("02/10/2014"),
                endDate: new Date("02/14/2014"),
                duration: 3,
                progress: 86,
                subtasks: [
                    { taskID: 7, taskName: "Software Specification", startDate: new Date("02/10/2014"), endDate: new Date("02/12/2014"), duration: 3, progress: 60 },
                    { taskID: 8, taskName: "Develop prototype", startDate: new Date("02/10/2014"), endDate: new Date("02/12/2014"), duration: 3, progress: 100 },
                    { taskID: 9, taskName: "Get approval from customer", startDate: new Date("02/13/2014"), endDate: new Date("02/14/2014"), duration: 2, progress: 100 },
                    { taskID: 10, taskName: "Design Documentation", startDate: new Date("02/13/2014"), endDate: new Date("02/14/2014"), duration: 2, progress: 100 },
                    { taskID: 11, taskName: "Design complete", startDate: new Date("02/14/2014"), endDate: new Date("02/14/2014"), duration: 0, progress: 0 }
                ]
            },
            {
                taskID: 12,
                taskName: "Implementation Phase",
                startDate: new Date("02/17/2014"),
                endDate: new Date("02/27/2014"),
                duration: 11,
                subtasks: [
                    {
                        taskID: 13,
                        taskName: "Phase 1",
                        startDate: new Date("02/17/2014"),
                        endDate: new Date("02/27/2014"),
                        duration: 11,
                        subtasks: [{
                            taskID: 14,
                            taskName: "Implementation Module 1",
                            startDate: new Date("02/17/2014"),
                            endDate: new Date("02/27/2014"),
                            duration: 11,
                            subtasks: [
                                { taskID: 15, taskName: "Development Task 1", startDate: new Date("02/17/2014"), endDate: new Date("02/19/2014"), duration: 3, progress: "50" },
                                { taskID: 16, taskName: "Development Task 2", startDate: new Date("02/17/2014"), endDate: new Date("02/19/2014"), duration: 3, progress: "50" },
                                { taskID: 17, taskName: "Testing", startDate: new Date("02/20/2014"), endDate: new Date("02/21/2014"), duration: 2, progress: "0" },
                                { taskID: 18, taskName: "Bug fix", startDate: new Date("02/24/2014"), endDate: new Date("02/25/2014"), duration: 2, progress: "0" },
                                { taskID: 19, taskName: "Customer review meeting", startDate: new Date("02/26/2014"), endDate: new Date("02/27/2014"), duration: 2, progress: "0" },
                                { taskID: 20, taskName: "Phase 1 complete", startDate: new Date("02/27/2014"), endDate: new Date("02/27/2014"), duration: 0 }

                            ]
                        }]
                    },

                    {
                        taskID: 21,
                        taskName: "Phase 2",
                        startDate: new Date("02/17/2014"),
                        endDate: new Date("02/28/2014"),
                        duration: 12,
                        subtasks: [{
                            taskID: 22,
                            taskName: "Implementation Module 2",
                            startDate: new Date("02/17/2014"),
                            endDate: new Date("02/28/2014"),
                            duration: 12,
                            subtasks: [
                                { taskID: 23, taskName: "Development Task 1", startDate: new Date("02/17/2014"), endDate: new Date("02/20/2014"), duration: 4, progress: "50" },
                                { taskID: 24, taskName: "Development Task 2", startDate: new Date("02/17/2014"), endDate: new Date("02/20/2014"), duration: 4, progress: "50" },
                                { taskID: 25, taskName: "Testing", startDate: new Date("02/21/2014"), endDate: new Date("02/24/2014"), duration: 2, progress: "0" },
                                { taskID: 26, taskName: "Bug fix", startDate: new Date("02/25/2014"), endDate: new Date("02/26/2014"), duration: 2, progress: "0" },
                                { taskID: 27, taskName: "Customer review meeting", startDate: new Date("02/27/2014"), endDate: new Date("02/28/2014"), duration: 2, progress: "0" },
                                { taskID: 28, taskName: "Phase 2 complete", startDate: new Date("02/28/2014"), endDate: new Date("02/28/2014"), duration: 0 }

                            ]
                        }]
                    },

                    {
                        taskID: 29,
                        taskName: "Phase 3",
                        startDate: new Date("02/17/2014"),
                        endDate: new Date("02/27/2014"),
                        duration: 11,
                        subtasks: [{
                            taskID: 30,
                            taskName: "Implementation Module 3",
                            startDate: new Date("02/17/2014"),
                            endDate: new Date("02/27/2014"),
                            duration: 11,
                            subtasks: [
                                { taskID: 31, taskName: "Development Task 1", startDate: new Date("02/17/2014"), endDate: new Date("02/19/2014"), duration: 3, progress: "50" },
                                { taskID: 32, taskName: "Development Task 2", startDate: new Date("02/17/2014"), endDate: new Date("02/19/2014"), duration: 3, progress: "50" },
                                { taskID: 33, taskName: "Testing", startDate: new Date("02/20/2014"), endDate: new Date("02/21/2014"), duration: 2, progress: "0" },
                                { taskID: 34, taskName: "Bug fix", startDate: new Date("02/24/2014"), endDate: new Date("02/25/2014"), duration: 2, progress: "0" },
                                { taskID: 35, taskName: "Customer review meeting", startDate: new Date("02/26/2014"), endDate: new Date("02/27/2014"), duration: 2, progress: "0" },
                                { taskID: 36, taskName: "Phase 3 complete", startDate: new Date("02/27/2014"), endDate: new Date("02/27/2014"), duration: 0 },

                            ]
                        }]
                    }
                ]
            }
        ];
        $(function () {
            $("#GanttContainer").ejGantt({
                dataSource: projectData,
                allowSelection: true,
                allowColumnResize: true,
                taskIdMapping: "taskID",
                taskNameMapping: "taskName",
                scheduleStartDate: new Date("02/01/2014"),
                scheduleEndDate: new Date("04/09/2014"),
                startDateMapping: "startDate",
                endDateMapping: "endDate",
                progressMapping: "progress",
                childMapping: "subtasks",
                allowGanttChartEditing: false,
                treeColumnIndex: 1,
                isResponsive: true,
                toolbarSettings: {
                    showToolbar: true,
                    toolbarItems: [
                    ej.Gantt.ToolbarItems.ExcelExport,
                    ]
                },
                toolbarClick: toolbarclick
            });

        });
        
        function toolbarclick(args) {
            var id = $(args.currentTarget).attr("id");
            this.exportGrid = this["export"];
            if (id == "GanttContainer_excelExport") {
                this.exportGrid('http://js.syncfusion.com/demos/ejServices/api/Gantt/ExcelExport', "", false);
                args.cancel = true;
            }
        } 
    </script>
</body>

</html>
